html,
body {
    height: 80vh;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

.checkboxes-row {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-div {
    height: 85vh;
    overflow: auto;
}